/* USER PROFILE */

.delete-button
{
    width: fit-content;
    margin-left: 80%;
    border-style: none;
    font-size: 1vw;
    background: none;
    cursor: pointer;
}

.delete-button:hover
{
    transition: 0.5s;
    transform: scale(1.25);
}

.my-journal-title
{
    display: flex;
    justify-content: center;
    flex-direction:row;
    padding: 10px;
    margin-bottom: 10px;
    font-family: lamarkie, sans-serif;
}

.new-entry-button
{
    align-items: center;
    margin-left: 10px;
    padding: 12px 20px;
    border-radius: 7px;
    border-style: none;
    font-size: 14px;
    background-color: #d4bebe;
    cursor: pointer;
}

.new-entry-button:hover
{
    background-color: #828282;
    transition: 0.7s;
}

.logout-button
{
    align-items: center;
    margin-left: 10px;
    padding: 12px 20px;
    border-radius: 7px;
    border-style: none;
    font-size: 14px;
    background-color: #d4bebe;
    cursor: pointer;
}

.logout-button:hover
{
    background-color: #828282;
    transition: 0.7s;
}

.entry-text
{
    border-style: solid;
    border-color: #405788;
    border-radius: 10px;
    margin: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeb69f;
}

/* NEW ENTRY PAGE */

.new-entry-page
{
    background-image: url("/src/static/journal/bi.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    min-height: 100vh;
}

/* .return-button
{
    align-items: center;
    margin-left: 10px;
    padding: 12px 20px;
    border-radius: 4px;
    border-style: none;
    font-size: 14px;
    background-color: #d4bebe;
    cursor: pointer;
}

.return-button:hover
{
    background-color: #828282;
    transition: 0.7s;
} */

.save-button
{
    align-items: center;
    margin-left: 10px;
    padding: 4px 10px;
    border-radius: 4px;
    border-style: none;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
    color: #828282;
    text-transform: uppercase;
    margin: 10px;
}

.save-button:hover
{
    background-color: #d4bebe;
    transition: 0.7s;
}

.discard-button
{
    background: transparent;
    border-style: none ;
}

.sub-entry-form
{
    display: flex;
    justify-content: center;
}

.sub-entry-form
{
    padding: 20px 40px 20px 40px;
    margin: 10px;
    border-radius: 2px;
    background-color: #d4bebea2;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.entry-form 
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* .return-button
{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} */

.save-flex
{
    display: flex;
    justify-content: center;
}

.text-flex
{
    display: flex;
    justify-content: center;
}

/* NEW PROFILE */

.new-profile
{
    text-align: center;
    justify-content: flex-end;
    display: flex;
    padding: 90px 90px 90px 0;
    background-image: url("/src/static/journal/11.jpg") ;
    background-size: cover;
    min-height: 100vh;
}

.sub-new-profile
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 550px;
    width: 35%;
    box-shadow: 2px 5px 7px 4px rgb(177, 172, 172);
    border-style: solid;
    border-radius: 1px;
}

.form-flex
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
}

.label-size
{
    height: 40px;
    font-size: 1.2vw;
}

.save-new-button
{
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    border-radius: 4px;
    border-style: none;
    font-size: 14px;
    background-color: #d4bebe;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
}

.save-new-button:hover
{
    background-color: #828282;
    transition: 0.7s;
} 

.saved-button
{
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    border-radius: 4px;
    border-style: none;
    font-size: 14px;
    background-color: #828282;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
}

.prompt-button-container
{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.prompt-button
{
   
    align-items: center;
    /* margin-left: 80px;
    margin-right: 80px; */
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
    border-style: none;
    font-size: 14px;
    background-color: #d4bebe;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
}

.prompt-button:hover
{
    background-color: #828282;
    transition: 0.7s;
} 

.prompt-text
{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 80px;
    text-align: center;
    padding: 20px;
}

.random-prompt-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6.5vw;
    margin-left: 6vw;
    font-style: italic;
}

.return-link
{
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.return-button
{
  margin-left: 20px;
}