/* * {
    box-sizing: border-box;
} */

.profile-page
{
    background-image: url("/src/static/journal/13.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    color: #fff;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
/* 
.journal-entry
{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: #b0b7ba;
    border-radius: 10px;
} */

/* #828282
#425454
#d4bebe
#b0b7ba */

/* .entry-container
{
    display: inline-block;
    justify-content: space-between;
} */


.delete-button
{
    
    width: fit-content;
    margin-left: 80%;
    border-style: none;
    font-size: 1vw;
    cursor: pointer;
    background: none;
}

.delete-button:hover
{
    transition: 0.5s;
    transform: scale(1.25);

}

.entry-text
{
    border-style: solid;
    border-color: #405788;
    border-radius: 10px;
    margin: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eeb69f;
}

#title
{
    margin: 0;
}