@font-face {
    font-family: mogata;
    src: url("/src/static/mogata.normaloblique.otf");
}

@font-face {
    font-family: lamarkie;
    src: url("/src/static/Lamarkie.otf");
}

@font-face {
    font-family: monkeg;
    src: url("/src/static/MonkegRegular-rgKGA.ttf");
}

* {
    font-family: 'Poppins';
    margin: 0;
}


#page-content {
    position: relative;
    min-height: 100vh;
}

#page-content-wrap {
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 2.5rem;    /* Footer height */
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

#main-footer
{
    display: flex;
    flex-direction: column;
}

#footer-top-layer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-bottom-layer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
}

#bottom-right
{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 10px;
}

#bottom-left
{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 10px;
}

#footer-spacing
{
    margin: 10px ;
}

#footer-title-spacing
{
    margin-left: 20px ;
    margin-top: 10px;
    font-family: lamarkie, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .8em;
    color:#d4bebe;
}

#footer-icon-spacing
{
    margin-right: 20px;
    cursor: pointer;
}

#icons
{
    margin: 10px;
}

.modal-box {
    position: absolute;
    border: hidden;
    z-index: 90;
}

.modal-content {
    /* position: fixed; */
    color: #f3f3f3;
    background-color: blue;
    width: 70vw;
    max-height: 8vh;
    border-radius: 15px;
    padding: 0.2em 1.1em 1.1em 1.1em;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    z-index: 91;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
    "soundlist controls close"
}

.modal-audio-list {
    grid-area: "soundlist";
    /* background-color: #161616; */
    max-height: 0.7vh;
    z-index: 92;
    cursor: pointer;
}

.modal-audio-controls {
    grid-area: "controls";
    margin-bottom: 10vh;
    z-index: 93;
}

.close-modal-container {
    z-index: 96;
}

.close-modal-button {
    grid-area: "close";
    width: 0.7em;
    height: auto;
    /* margin: 0.5em; */
    margin-top: 0.1vh;
    margin-left: -1vw;
    cursor: pointer;

}

