@font-face {
    font-family: myFont;
    src: url("/src/static/mogata.normaloblique.otf");
}

*
{
    font-family: myFont;
}

.modal-box {
    position: absolute;
    border: hidden;
}

.modal-content {
    
}