@font-face {
    font-family: mogata;
    src: url("/src/static/mogata.normaloblique.otf");
}

@font-face {
    font-family: lamarkie;
    src: url("/src/static/Lamarkie.otf");
}

@font-face {
    font-family: monkeg;
    src: url("/src/static/MonkegRegular-rgKGA.ttf");
}

* {
    font-family: 'Poppins';
    margin: 0;
}


#page-content {
    position: relative;
    min-height: 100vh;
}

#page-content-wrap {
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 2.5rem;    /* Footer height */
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

#main-footer
{
    display: flex;
    flex-direction: column;
}

#footer-top-layer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-bottom-layer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
}

#bottom-right
{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 10px;
}

#bottom-left
{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 10px;
}

#footer-spacing
{
    margin: 10px ;
}

#footer-title-spacing
{
    margin-left: 20px ;
    margin-top: 10px;
}

#footer-icon-spacing
{
    margin-right: 20px;
    cursor: pointer;
}

#icons
{
    margin: 10px;
}

.modal-box {
    position: absolute;
    border: hidden;
    z-index: 1;
}

.modal-content {
    /* position: fixed; */
    color: #f3f3f3;
    background-color: blue;
    width: 75vw;
    max-height: 10vh;
    border-radius: 20px;
    /* padding: 24px; */
    padding: 1.1em;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
        /* box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2); */
    z-index: 100;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
    "soundlist controls close"
}

.modal-audio-list {
    grid-area: "soundlist";
    /* align-self: flex-end; */
    /* margin-left: 10em; */
    /* width: 10vw;
    max-height: auto;
    border-radius: 20px;
    padding: 24px; */
    /* box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2); */
    /* margin-left: auto;
    margin-top: auto;
    margin-bottom: auto; */
    background-color: #161616;
    /* z-index: 100; */
}

.modal-audio-controls {
    grid-area: "controls";
    
}

.close-modal-button {
    grid-area: "close";
    width: 0.7em;
    height: auto;
    /* margin: 0.5em; */
    margin-top: 0.1vh;
    margin-left: -1vw;
    cursor: pointer;
}

