* {
    box-sizing: border-box;
}

body {
    background-color: #010f1c;
    color: #fff;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* styling */

.circle-container{
    display:flex;
    align-items:center;
    justify-content: center;
    height:300px;
    width:300px;
    margin:auto;
    position:relative;
    
} 

.circle-container{
    animation: grow 3s linear forwards infinite;
}

/* .circle-container{
    animation: shrink 3s linear forwards infinite;
} */


.gradient-circle{
    background: conic-gradient(
        #55b7a4 0%,
        #4ca493 40%,
        #fff 40%,
        #fff 60%,
        #336d62 60%,
        #2a5b52 100%
    );

    height:320px;
    width: 320px;
    position: absolute;
    top: - 10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;

}

.circle {
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container{
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation:rotate 7.5s linear forwards infinite ;
    transform-origin: bottom center;
}

.pointer{
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display:block;
}

/* animations */

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform:rotate(360deg)
    }
}

@keyframes grow {
    0% {
        transform: scale(1)
    }
    33% {
        transform:scale(1.2)
    }
    66%{
        transform: scale(1.2)
    }
    100%{
        transform:scale(1)

    }
}

