/* * {
    box-sizing: border-box;
} */

/* styling */

body .breathe-container {
    /* background: url('/src/static/breathe/calm-water.jpg'); */
    background-size:contain;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 8em; */
}

.circle-container{
    display:flex;
    align-items:center;
    justify-content: center;
    height:300px;
    width:300px;
    margin:auto;
    position:relative;
    animation: breathe 14000ms infinite;
} 

#light .gradient-circle{
    background: conic-gradient(
        #5a7f7c 10%,
        #719290 20%,
        #d6eefa 40%,
        #fff 50%,
        #3f5456 60%,
        #425454 90%,
        #5a7f7c 100%
    );

    height:320px;
    width: 320px;
    position: absolute;
    top: - 10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

#light .circle {
    /* background-color: #010f1c; */
    background: linear-gradient(#afcad3, #7B9E89  );
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container{
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation:rotate 14000ms linear forwards infinite ;
    transform-origin: bottom center;
}


.pointer{
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display:block;
    /* animation: pointercolour 18400ms infinite;  */
}

.word-container{
    display:flex;
    justify-content: center;
    align-self: flex-end;
    border-radius: 50%;
    background-color:transparent;
    height:100%;
    width: 100%;
    top: 0;
    z-index: -1;
}

.word {
    font-family: lamarkie, sans-serif;
    display:flex;
    justify-content: center;
    align-self:center;
    font-size: 20px;
}

#light {
    background: url('/src/static/breathe/snow-leaf.jpg');
    background-size:contain;
    background-attachment: fixed;
    background-color: #091418;
    background-repeat:no-repeat;
    background-position: center;
}

#dark {
    background: url('/src/static/breathe/water2.jpg');
    background-size:contain;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-color: #4b5964;
}

#dark .gradient-circle {

    background: conic-gradient(
        #b3c4cb 10%,
        #eff0f1 20%,
        #fff 40%,
        #fff 50%,
        #afb6bb 60%,
        #7f8a91 90%,
        #b3c4cb 100%
    );
    height:320px;
    width: 320px;
    position: absolute;
    top: - 10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

#dark .circle {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    background-image: linear-gradient(#d4bebe, #b3c4cb );
}

.toggle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.switch {

}

/* animations */

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform:rotate(360deg)
    }
}

@keyframes breathe {
    0% {
      transform: scale(.5)
    }
    25% {
      transform: scale(1),
    }
    50%{
      transform: scale(1)
    }
    75% {
      transform: scale(.5)
    }
    100% {
      transform: scale(.5)
    }
}



/* three classes for breathing in out and hold */


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-style: solid;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: transparent;
}

input:focus + .slider {
    background-color: transparent;
    
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}