#home-page {
    height: 90vh;
    margin: 0;
    background-size: contain;
    color: white;
    font-family: "poppins";
}

.homepage-link {
    font-family: lamarkie;
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 90vh;

}
    

.feature {
    /* margin-top: 150px; */
    display: grid;
    /* height: 90vh; */
    place-items: center;
    overflow: hidden;
    position: relative;
    border-right: 1px solid rgba(225, 225, 225, 0.1);
    background-size: contain;
    
    
    /* opacity: 1; */
}


.feature:hover {
    opacity: 1;
}


.feature .feature-img {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background-size: contain;
    height: 100vh;
    /* width: 100vw; */
}


.feature:hover .feature-img{
    opacity: 1;
    transform: scale(1.1);
    transition: 0.8s;
}

.content {
    width: 70%;
    margin: 0 auto;
}

.content:hover {
    transform: scale(1.3);
    transform-origin: left 50%;
}

