/************ All styling for the Colour section as follows ************/

.colouring-svg {
    fill-rule:evenodd;
    clip-rule:evenodd;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:1.5;
    stroke:black;
    shape-rendering:geometricPrecision; 
    text-rendering:geometricPrecision; 
    image-rendering:optimizeQuality; 
    line-height: 5em;
    max-width: 95vw;
}

#mandala-1 {
    stroke-width:3.55px;
}

#mandala-2 {
    stroke-width:3.55px;
}

#village-stairs {
    stroke-width:0.5px;
}

.fil1 {
    fill: #121212;
}

.fil0{
    fill: white;
}

path {
    transition: fill 0.5s;
}

@media screen and (min-width: 769px) {
    .colouring-page {
        display: grid;
    }

    .select-img {
        max-width: 30%;
    }

    #current-colour--box {
        padding-top: 20px;
        /* margin-left: auto; */
        /* margin-right: -150px; */
        /* text-align: center; */
    }

    #current-colour {
        border: #121212 2px solid;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
    }

    #colour-palette {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: auto;
        margin-right: 5%;
        margin-top: 5%;
        width: auto;
        gap: 0.5rem;
        width: 200px;
    }

    #colour-palette--inner {
        width: 6rem;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        height: 3rem;
        border-radius: 10px;
        border: #121212 1px solid;
    }

    #custom-colour-input {
        height: 3rem;
        width: 6rem;
        border-radius: 10px;
        border: none;
        ;
    }
}

@media screen and (max-width: 768px) {
    
}