/************ All styling for the Colour section as follows ************/
.colouring-page {
    /* flex or grid to make everything appear nicely aligned */
    color:#121212;
}

.select-img {
    height: 30vh;
}

path {
    transition: fill 0.5s;
}

.colouring-svg {
    fill-rule:evenodd;
    clip-rule:evenodd;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:1.5;
    stroke:black;
    shape-rendering:geometricPrecision; 
    text-rendering:geometricPrecision; 
    image-rendering:optimizeQuality; 
    line-height: 5em;
    max-width: 95vw;
}

#mandala-1 {
    max-width: 95vw;
    stroke-width:3.55px;
    
}

#mandala-2 {
    max-width: 95vw;
    stroke-width:3.55px;
}

#village-stairs {
    max-width: 95vw;
    stroke-width:0.5px;
}

.fil1 {
    fill: #121212;
}

.fil0{
    fill: white;
}

#current-colour--box {
    display: flex;
    float: right;
    padding-top: 20px;
    margin-left: auto;
    margin-right: -150px;
    text-align: center;
}

#current-colour {
    border: #121212 2px solid;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: inline-block;
}

#colour-palette {
    display: flex;
    float: right;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 90px;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    gap: 13px;
    width: 200px;
}

#colour-palette--inner {
    width: 90px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 45px;
    border-radius: 10px;
    line-height: 50px;
    border: #121212 1px solid;
}

#colour-input {
    height: 40px;
    width: 80px;
    border-radius: 10px;
}

