.audio-controls {
    max-width: 50vw;
    /* max-width: 800em; */
    max-height: 10vh;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    /* padding: 24px; */
    /* box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2); */
    /* margin: auto; */
    /* color: var(--white); */
    /* background-color: #161616; */
    z-index: 94;
    }

.audio-controls > * {
    box-sizing: border-box;
}

.audio-info {
    text-align: center;
    z-index: 1;
    position: relative;
    font-size: 0.9em;
}

.name {
    margin-bottom: 4vw;
    align-self: center;
}

input[type=range] {
	height: 0.2em;
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 1vh;
	border-radius: 8px;
	background: black;
	transition: background 0.2s ease;
	cursor: pointer;
}