.buttonControls {
    display: flex;
    justify-content: space-between;
    width:  65%;
    margin: 0 auto 15px;
  }


  /* .buttonControls .prev svg,
  .buttonControls .next svg {
    /* max-width: 1%;
    height: auto; 
    } */
  
  /* .audio-controls .play svg,
  .audio-controls .pause svg {
    max-width: 40px;
    height: auto;
  } */
  
  .audio-controls path {
    fill: var(--white);
  }